@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #12372A;
    font-family: "Lexend Zetta", sans-serif; 
}

::selection{
    background: transparent;
}

a{
    cursor: pointer;
}

a:hover{
    opacity: .7;
}

a:active{
    opacity: .5;
}


h1,h2,p,a{
    color: white;
}

#header-h1{
    font-size: 25px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#header-h1 span:last-child{
    margin-top: 2px;
    align-self: flex-end;

}

header {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    position: relative;
}

.header-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    font-family: 'Sansita Swashed', cursive;
}

.menu-links {
    text-decoration: none;
    font-size: 18px;
}

main{
    margin-top: 140px;
    display: flex;
}

.main-text{
    flex-direction: column;
}

img{
    width: 650px;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, .9));
    border-radius: 50%;
}