@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #12372A;
    background-image: url("/assets/images/background.png");
    background-size: cover;
    background-position: center;
    font-family: "Lexend Zetta", sans-serif; 
}

::selection{
    background: transparent;
}

a, button{
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.menu-links:hover{
    opacity: .7;
    transform: scale(1.2);
}

.menu-links:nth-child(2){
    opacity: .7;
}

.menu-links:active{
    opacity: .5;
}

h1,h2,p,a{
    color: white;
}

#header-h1{
    font-size: 25px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#header-h1 span:last-child{
    margin-top: 2px;
    align-self: flex-end;

}

header {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    position: relative;
}

.header-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    font-family: 'Sansita Swashed', cursive;
}

.menu-links {
    text-decoration: none;
    font-size: 18px;
}

.menu-burger{
    margin-top: 120px;
}

#reduceValue{
    text-align: center;
}

.main-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.burger-button{
    width: 120px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-right: 25px;
    background-color: #21674e;
    color: white;
}

.discount{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.burger-button:hover{
    opacity: .8;
    transform: scale(1.2);
}

.burger-button:active{
    opacity: .6;
}

ul{
    margin-top: 80px;
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
    justify-content: center;
}

li{
    background: rgba(255, 255, 255, 0.1);
    height: 180px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

li img{
    width: 90px;
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* Corrigido para começar invisível */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modal-content {
    background: #12372A;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 250px;
}

#modal-content p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

#closeModal {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: #21674e;
    color: #12372A;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    opacity: 0.8;
}